# Configuration files
BE/src/main/resources/application.yml

# Build files
BE/target/

# IDE files
.idea/
FE/next-env.d.ts
APP/app/src/main/res/layout/item_food.xml
FE/yarn_BACKUP_1651.lock
FE/yarn_BACKUP_298.lock
FE/yarn_BACKUP_361.lock
FE/yarn_BASE_1651.lock
FE/yarn_BASE_298.lock
FE/yarn_BASE_361.lock
FE/yarn_LOCAL_1651.lock
FE/yarn_LOCAL_298.lock
FE/yarn_LOCAL_361.lock
FE/yarn_REMOTE_1651.lock
FE/yarn_REMOTE_298.lock
FE/yarn_REMOTE_361.lock
